{% extends 'main.html' %}

{% block content %}
<ul>
    {% for auto in autos %}
    <img style="max-width: 350px" src="{{ auto.featured_image.url }}">
    <p>ID: {{auto.id}}</p>
    <p>Car: <a href="{% url 'single-auto' auto.id %}"> {{auto.car_brand}} {{auto.car_model}}</a>
    <p>Description: {{auto.description}}</p>
    <p>Created: {{auto.created}}</p>
    <p><a href="{% url 'update-auto' auto.id %}">Edit</a>
    <p><a href="{% url 'delete-auto' auto.id %}">Delete</a>
    <hr>
    {% endfor %}
</ul>
{% endblock content %}