{% extends 'main.html' %}

{% block content %}
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'account' %}"><b><</b></a>
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{field}}
                    </div>
                    {% endfor %}

                    <div class="form__field">
                        {% for tag in auto.tags.all %}
                        <div class="auto-tag tag tag--pill tag--main" data-tag="{{tag.id}}" data-auto="{{auto.id}}">{{tag.name}} &#215;</div>
                        {% endfor %}
                    </div>

                    <div class="form__field">
                        <label for="formInput#text">Add Tags:</label>
                        <p>(add a space after each tag)</p>
                        <textarea class="input" name="newtags" placeholder="Add tags here"></textarea>
                    </div>

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}